---
import { getLangFromUrl, useTranslations } from '@/lib/utils';
import { LanguageSelect } from './language-select';
import ThemeToggle from './theme-toggle.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const baseUrl = getRelativeLocaleUrl(lang);
---

<header class="mb-4 flex h-12 items-center border-b border-border px-8">
  <div class="flex flex-1">
    <div class="flex w-full gap-6 font-medium">
      <a href={baseUrl}>{t('home')}</a>
    </div>
  </div>
  <div class="flex justify-end gap-4">
    <LanguageSelect client:load lang={lang} />
    <ThemeToggle />
  </div>
</header>
