---
import type { LangKeys } from '@/lib/config';
import type { User } from 'lucia';
import { useTranslations } from '@/lib/utils';
import HeaderLink from './header-link.astro';

type Props = {
  user: User | null;
  lang: LangKeys;
  type: 'mobile' | 'desktop';
};

const { user, lang, type } = Astro.props;
const t = useTranslations(lang);
---

<nav class:list={[{ 'hidden flex-auto lg:flex': type === 'desktop' }]}>
  <ul
    class:list={[
      {
        'flex items-center gap-6': type === 'desktop',
        'flex flex-col items-center text-2xl': type === 'mobile',
      },
    ]}
  >
    <HeaderLink type={type} href={`/${lang}`}>
      {t('index')}
    </HeaderLink>
    {
      user ? (
        <>
          <HeaderLink type={type} href={`/${lang}/home`}>
            {t('home')}
          </HeaderLink>
        </>
      ) : null
    }
  </ul>
</nav>
